<a href="https://colab.research.google.com/github/MauGayosso/google-colab-demo/blob/main/SQLALchemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IMPORTS

In [ ]:
from sqlalchemy import create_engine # Permite crear la base de datos
from sqlalchemy import MetaData
from sqlalchemy import Table, Column, Integer, String # Importar Objetos (Tablas, Columnas) y tipo de datos
from sqlalchemy import insert, select, update, delete # Importar metodos para CRUD

ENGINE CONECTION

In [ ]:
engine = create_engine('sqlite:///prueba.db') #Iniciar conexion, se puede modificar dependiendo el gesto de base de datos

In [ ]:
metadata = MetaData(engine) # Permite acceder a los objetos de una tabla

CREAR LA BASE DE DATOS, INICIAR LA ESTRUCTURA DE LA(S) TABLAS A UTILIZAR

In [ ]:
clientes = Table(
    'clientes',metadata,
    Column('id_cliente', Integer, primary_key = True),
    Column('nombre', String, nullable = False),
    Column('email', String, nullable = False)
)

In [ ]:
metadata.create_all(engine) # Permite crear las tablas para el gestor seleccionado

In [ ]:
data = [ # Diccionario para insertar multiples valores
    {"nombre": "Cliente 1 ", "email": "cliente1@mail.com"},
    {"nombre": "Cliente 2 ", "email": "cliente2@mail.com"},
    {"nombre": "Cliente 3 ", "email": "cliente3@mail.com"},
    {"nombre": "Cliente 4 ", "email": "cliente4@mail.com"}
]

INSERT

In [ ]:
stmt = insert(clientes).values(data) # Statement para usar la funcion insertar dando nombre de la base de datos y que valores insertar
print(type(stmt)) # Permite visualizar caracteristicas de la variable stmt
print(stmt)

EJECUTAR INSTRUCCION

In [ ]:
with engine.connect() as conn: # Iniciar la conexion, ejectuta y cierra conexion automaticamente
  result = conn.execute(stmt) # Damos la instruccion a ejecutar con execute y la query

SELECT

In [ ]:
stmt = select(clientes) # Permite hacer uso de la funcion select y como parametro el nombre de la base de datos
print(type(stmt)) # Permite visualizar caracteristicas de la variable stmt
print(stmt)

In [ ]:
with engine.connect() as conn: # Iniciar la conexion, ejectuta y cierra conexion automaticamente
  result = conn.execute(stmt) # Damos la instruccion a ejecutar con execute y la query
  for row in result.fetchall(): # Ciclo para imprimir todos los datos almacenados en el query
    print(row) # Imprime los datos

DELETE

In [ ]:
stmt = delete(clientes).where(clientes.c.id_cliente == 4) # Permite hacer uso de la funcion delete indicando con un where y como atributos indicar nombre_db.c.campo para relacionar
print(type(stmt)) # .c indica que es columna
print(stmt)

In [ ]:
with engine.connect() as conn: # Inicia conexion
  result = conn.execute(stmt) # Realizar la instruccion

In [ ]:
dataUpdate = { # Lista con los datos que se van a actualizar
    "nombre" : "Cliente Actualizado",
    "email" : "clienteupdate@mail.com"
}

UPDATE

In [ ]:
stmt = update(clientes).where(clientes.c.id_cliente == 3).values(dataUpdate) # Statement para hacer la actualizacion de un campo en base a su ID
print(type(stmt))
print(stmt)

In [ ]:
with engine.connect() as conn: # Inicia la conexion
  result = conn.execute(stmt) # Ejecuta la instruccion